
<div name="navigation" class="navigation">
    <img src="https://turtlepaw.is-from.space/r/tws.png" class="h-full" style="margin-top: 10px;">
    <div class="nav-links text-white font-semibold">
        <a href="/discord" target="_blank" class="hover:underline cursor-pointer linkw">Discord</a>
    </div>
</div>