@page "/"
@page "/index"
@page "/index.html"
@using Microsoft.JSInterop
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@inject IModalService modal

<div class="text-center text-black main-page">
    <div class="pb-12 top">
        <NavMenu/>
        <div id="main" name="main" class="mt-10 text-white">
            <h1 class="text-6xl font-bold align-middle">Turtlepaw's Workshop</h1>
            <p class="font-normal text-lg">Devloping Discord bots since 2021. Join our Discord to learn more.</p>
            <h1 class="text-6xl opacity-20 transform -translate-y-5 font-bold mb-2 align-middle">
                <span class="opacity-0">.</span>
            </h1>
        </div>
    </div>
    <div>
        <br /><br />
        <div style="display: inline-block; overflow: hidden; background-color: rgb(54, 57, 62); border-radius: 7px; vertical-align: top; height: 500px; width: 1000px;">
            <iframe src="https://widgetbot.io/channels/834199640702320650/944396274365521981" title="Discord chat embed" style="width: 100%; height: 100%; border: none;"></iframe>
        </div>
        <br /><br />
        <center><img src="https://invidget.switchblade.xyz/834199640702320650"/></center>
    </div>
</div>